// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

.entry-content {
    line-height: 1.65rem;
}

.wp-block-quote {
  font-family: $font-family-serif;
}

.collapseomatic {
  text-decoration: none;
}

a {
    font-weight: $link-font-weight
}

hr {
    border-color: white;
}

.fa { font-family: 'FontAwesome' !important; }

.navbar {

    //padding: 0.5rem 0;
    padding: 0;
    @include media-breakpoint-up(md) {
        height: 3rem;
    }

    .navbar-brand {
        padding: 0;
    }

    h1 {
        font-family: $font-family-sans-serif;
        font-style: normal;
        font-size: 1.5rem;
        a {
            text-decoration: none;
        }
    }

    img {
        max-width: 3rem; 
    }

    .navbar-toggler {
        color: white;
        border: none;
        font-size: 1.4rem;
    }

    .wpm-language-switcher {
        color: white;

        a {
            color: white;
            opacity: 1;
            @include transition(opacity .3s ease-in-out);

            &:hover {
                color: white;
                text-decoration: none;
                opacity: 0.75;
                @include transition(opacity .3s ease-in-out);
            }
        }

        li {
            float: left;
            margin-right: 4px;

            &.active>span {
                display: none;
            }
        }
    }

    #navbarNavDropdown {

        @include media-breakpoint-only(xs) {
            padding-left: 15px;
        }

        

        @include media-breakpoint-down(sm) {
            max-height: 90vh;
            overflow: scroll;
        }

        @include media-breakpoint-up(md) {
            height: 3rem;
            max-height: auto;
        }

        a {
            color: white;
            opacity: 1;
            @include transition(opacity .3s ease-in-out);

            &:hover {
                text-decoration: none;
                opacity: 0.75;
                @include transition(opacity .3s ease-in-out);
            }
        }

        .navbar-nav {
            padding-top: 25px;
            padding-bottom: 25px;

            @include media-breakpoint-up(md) { 
                padding-top: 0px;
                padding-bottom: 0px;
            }
        }

        ul {
            @include media-breakpoint-up(md) {
                padding-left: 0;
                height: 100%;
            }

            li { // main menu
                font-size: 1rem;
    
                padding-left: 0px;
                position: relative;
                list-style-type: none;
                white-space: nowrap;

                @include media-breakpoint-only(md) {
                    font-size: 0.9rem;
                }

                @include media-breakpoint-up(md) {
                    //display: block;
                    padding: 2px 5px; 
                    display: flex;
                    align-items: center;

                    

                    &:hover > ul,
                    ul:hover {
                        visibility: visible;
                        //display: block;
                        opacity: 1;
                        filter: alpha(opacity=100);
                        @include transition(all .15s ease-in-out);
                    }
                }

                ul {

                    @include media-breakpoint-up(md) { 
                        display: flex;
                        flex-direction: column;
                        visibility: hidden;
                        opacity: 0;
                        filter: alpha(opacity=0);
                        @include transition(all .15s ease-in-out);
                        background-color: $gray-800;//$fk-dark;
                        //margin-top: 0.5rem;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        //width: 100px;
                        height: auto;
                    }

                    li {
                        
                        font-size: 0.9rem;

                        

                        @include media-breakpoint-up(md) { 
                            //padding-left: 0;
                            //width: 100%;
                            flex-direction: row;
                            flex-wrap: wrap;
                            display: flex;
                            justify-content: flex-start;
                            font-size: 1rem;
                            padding: 5px 10px 5px 10px;

                            &.menu-item-has-children {
                                border-right: 4px solid $gray-700;

                            }

                            &:hover {
                                background-color: $gray-700;
                            }
                        }

                        @include media-breakpoint-only(md) {
                            font-size: 0.9rem;
                        }

                        ul {

                            @include media-breakpoint-up(md) { 
                                top: 0;
                                left: calc(100% + 4px);
                            }

                        }

                    }
                    
                }
            }
        }
    }

    ul {
        a {
            text-transform: uppercase;
        }
    }
}

#fk-front-image {
    img {
        width: 100%;
        max-height: 85vh;
        object-fit: cover;
    }
}

#fk-calendar {
    margin-top: 3rem;
    margin-bottom: 3rem;

    .cal-wrap {
        @include media-breakpoint-down(sm) { 
            display: none;
            &:nth-child(-n+4){
                display:flex;
            }
        }

        @include media-breakpoint-only(md) { 
            display: none;
            &:nth-child(-n+6){
                display:flex; 
            }
        }
    }

    .calendar-item {

        

        text-align: center;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        //background-color: $dark;
        width: 100%;
        margin-top: $grid-gutter-width;

        i {
            width: 100%;
            font-size: 4rem;
            color: white;
        }

        a {
            &:hover {
                text-decoration: none;
            }
        }

        h5 {
            font-size: 1.3rem;
            color: white;
        }

        p {
            font-size: 1.2rem;
            width: 100%;
            color: white;
            margin-bottom: 0rem;
            &.cal_location {
                font-size: 0.9rem;
            } 
        }
        
        @include media-breakpoint-down(sm) { 
            text-align: left;
            justify-content: left;
            min-height: 100px;
            margin-top: 10px;
            padding: 25px;

            i {
                width: 90px;
            }
            p {
                font-size: 1.1rem;
                width: auto;
                margin-left: auto;
                margin-right: 0;
            }
         }
        //@include media-breakpoint-up(sm) { }
        @include media-breakpoint-only(md) { 
            padding: 15px 7px;
            height: 209px; 
            font-size: 1rem;

            i { 
                font-size: 2.3rem;
            }
            h5 {
                margin-top: 5px;
                font-size: 1rem;
            }
        }
        @include media-breakpoint-up(lg) { 
            padding: 25px 10px;
            height: 210px;
        }
        @include media-breakpoint-up(xl) { 
            height: 255px;
         }

        &.tapahtumat {
            background-color: $event-orange;
        }

        &.ura {
            background-color: $event-blue;
        }

        &.kokoukset {
            background-color: $event-yellow;
        }

        &.kulttuuri {
            background-color: $event-techred;
        }

        &.liikunta {
            background-color: $event-green;
        }

        &.fuksit { 
            background-color: $purple;
        }
    }
}

#fk-ig {
    margin-top: 3rem;
    margin-bottom: 3rem;

    

    .ig-wrap {
        @include media-breakpoint-down(sm) { 
            display: none;
            &:nth-child(-n+4){
                display:flex;
            }
        }

        @include media-breakpoint-only(md) { 
            display: none;
            &:nth-child(-n+6){
                display:flex; 
            }
        }
    }

    .ig-item {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        
        margin-top: $grid-gutter-width;
        //min-height: 255px;

        

        @include media-breakpoint-up(md) { 
            height: auto;

            opacity: 0.95;

            @include transition(all .3s ease-in-out);
                @include transform(scale(1));  

            &:hover {
                opacity: 1;
                z-index: 2;
                @include transition(all .3s ease-in-out);
                @include transform(scale(1.2));
 
            }
        }
        @include media-breakpoint-up(lg) { 
            img {
                height: 210px;
            }
        }
        @include media-breakpoint-up(xl) { 
            img {
                height: 255px;
            }
        }

        img {
           object-fit: contain;
        }


    }
}

#fk-main {
    padding: 3rem;
    background: $dark;

    color: white;

    .wp-block-image {
        img {
            width: 100%;
            border-radius: 50%;
        }
    }

    p {
      margin-top: 1rem;
    }
}



#page-wrapper {
    min-height: 90vh;

    #fk-featured-image {
        margin-bottom: 3rem;

        #fk-featured-container {
            position: relative;
            width: 100%; 

            img {
                width: 100%;
                max-height: 250px;
                object-fit: cover;
            }

            .header-overlay {
                position: absolute; 
                bottom: 2rem;
                
                h1 {
                    text-shadow: 2px 2px 4px rgba(251,219,29,0.5);
                }
            }
        }
    }
    h1 {
        color: $dark;
        font-size: 3rem;
    }

    .header-alone {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
}

.fk-overlay {
        position: absolute;
        content:"";
        top:0;
        left:0;
        width:100%;
        height:100%;
        opacity:0.8;
        background-color: $yellow;
}

#page-wrapper {
    #content {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

#wrapper-footer {
    background: $dark;

    color: white;

    .row {
        text-align: center;
    }

    .fk-partner-title {
        h2 {
            font-size: 3rem;
        }
    }
}


.fk-raatilista {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    h5 {
        margin-top: 0.8rem;
    }

    .fk-raati-nimi {
        font-size: 1.1rem;
    }

    .fk-raati-mail, .fk-raati-tg, .fk-raati-puhelin {
        font-size: 0.9rem;
    } 
}


.fk-raati-side {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    .fk-raati-nimi {
        font-size: 1.1rem;
    }

    .fk-raati-mail, .fk-raati-tg, .fk-raati-puhelin {
        font-size: 0.9rem;
    }

    h5 {
        margin-top: 0.5rem;
    }
}

.simcal-calendar {
    ul {
        li {
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
        }
    }
}


.fk-some-links {
  i {
    font-size: 35px;
    font-style: normal;
    margin: 3px;
  }

  a {
    color: $white;

    &:hover {
      color: $gray-500;
      text-decoration: none;
      @include transition(all .15s ease-in-out);
    }
  }
}

